CompileFlags:
  Add:
    - -I/workspaces/jungle-week12-13/pintos
    - -I/workspaces/jungle-week12-13/pintos/include
    - -I/workspaces/jungle-week12-13/pintos/include/lib
    - -I/workspaces/jungle-week12-13/pintos/include/lib/kernel
    - -I/workspaces/jungle-week12-13/pintos/include/threads
    - -I/workspaces/jungle-week12-13/pintos/include/vm
    - -I/workspaces/jungle-week12-13/pintos/include/userprog
    - -I/workspaces/jungle-week12-13/pintos/vm
    - -I/workspaces/jungle-week12-13/pintos/userprog
    - -I/workspaces/jungle-week12-13/pintos/lib/kernel
    - -x
    - c
    - -std=c99
    - -msoft-float
    - -mcmodel=large
    - -fno-plt
    - -fno-pic
    - -mno-sse
    - -nostdinc
    - -D__STDC_VERSION__=199901L
    - -D_GNU_SOURCE
    - -DUSERPROG
    - -DFILESYS
    - -DVM
  Remove:
    - -I/usr/include
    - -I/usr/local/include

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: None
