CompileFlags:
  Add:
    - -xc
    - -std=gnu11
    - -I/workspaces/jungle-week12-13/pintos
    - -I/workspaces/jungle-week12-13/pintos/include
    - -I/workspaces/jungle-week12-13/pintos/include/lib
    - -I/workspaces/jungle-week12-13/pintos/include/lib/kernel
    - -DUSERPROG
    - -DFILESYS
    - -DVM
    - -Wno-implicit-function-declaration
    - -Wno-int-conversion
    - -Wno-incompatible-pointer-types
    - -Wno-compare-distinct-pointer-types
    - -Wno-return-type
  Compiler: gcc
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  Suppress:
    - "*"
